# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Model files
models/*.pkl

# System files
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Python build files
*.egg-info/
dist/
build/